@model SoftTeK.BusinessAdvisors.Web.Models.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SOFTTEK</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row justify-content-center text-start">
        <div class="col-4">
            <div>
                <label>Email:</label>
                <strong>admin@admin.com</strong>
            </div>
            <div>
                <label>Password:</label>
                <strong>admin</strong>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        @if (Model.Users is null)
        {
            <div class="col-4">
                <form action="home/login" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        }
        @if (Model.Users != null)
        {
            <div class="col-4">
                <form action="home/CreateUser" method="post">
                    <div class="mb-3">
                        <label class="form-label">Nombres</label>
                        <input type="text" name="firstName" class="form-control" aria-describedby="firstName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input type="text" name="lastName" class="form-control" aria-describedby="lastName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Título</label>
                        <input type="text" name="title" class="form-control" aria-describedby="title">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-info">Crear</button>
                </form>
            </div>
        }
        @if (Model.Users != null && Model.Users.Count > 0)
        {
            <div class="col-4">
                <div class="row justify-content-center">
                    <div class="col-4">
                        @foreach (var item in Model.Users)
                        {
                            <div class="card mt-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@item.FirstName @item.LastName</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.Title</h6>
                                    <p class="card-text">@item.Email @item.Password</p>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    </div>

    @if (Model.User != null)
    {
        <div class="row justify-content-center mt-2">
            <div class="row justify-content-center">
                <div class="card text-white bg-primary mb-3 justify-content-center" style="max-width: 18rem;">
                    <div class="card-header">Datos de usuario</div>
                    <div class="card-body">
                        <h5 class="card-title">Credenciales</h5>
                        <p class="card-text">
                            <span>@Model.User.FirstName</span>
                            <span>@Model.User.LastName</span>
                            <span>@Model.User.Email</span>
                            <span class="bg-dark">@Model.User.Token</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
